<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-websites-heading" data-cy="WebsitesCreateUpdateHeading" jhiTranslate="moLocalrKbApp.websites.home.createOrEditLabel">
        Create or edit a Websites
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.website" for="field_website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.websiteId" for="field_websiteId">Website Id</label>
          <input type="text" class="form-control" name="websiteId" id="field_websiteId" data-cy="websiteId" formControlName="websiteId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.cls" for="field_cls">Cls</label>
          <input type="text" class="form-control" name="cls" id="field_cls" data-cy="cls" formControlName="cls" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.pageViews" for="field_pageViews">Page Views</label>
          <input type="text" class="form-control" name="pageViews" id="field_pageViews" data-cy="pageViews" formControlName="pageViews" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.pageLoads" for="field_pageLoads">Page Loads</label>
          <input type="text" class="form-control" name="pageLoads" id="field_pageLoads" data-cy="pageLoads" formControlName="pageLoads" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.onLoadTime" for="field_onLoadTime">On Load Time</label>
          <input
            type="text"
            class="form-control"
            name="onLoadTime"
            id="field_onLoadTime"
            data-cy="onLoadTime"
            formControlName="onLoadTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="moLocalrKbApp.websites.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
