<div>
  <h2 id="page-heading" data-cy="InstanaHeading">
    <span jhiTranslate="moLocalrKbApp.instana.home.title">Instanas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moLocalrKbApp.instana.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-instana"
        [routerLink]="['/instana/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moLocalrKbApp.instana.home.createLabel">Create a new Instana</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="instanas?.length === 0">
    <span jhiTranslate="moLocalrKbApp.instana.home.notFound">No Instanas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="instanas && instanas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apitoken">
            <div class="d-flex">
              <span jhiTranslate="moLocalrKbApp.instana.apitoken">Apitoken</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="baseurl">
            <div class="d-flex">
              <span jhiTranslate="moLocalrKbApp.instana.baseurl">Baseurl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instana of instanas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/instana', instana.id, 'view']">{{ instana.id }}</a>
          </td>
          <td>{{ instana.apitoken }}</td>
          <td>{{ instana.baseurl }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/instana', instana.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/instana', instana.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(instana)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
