<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="websites">
      <h2 data-cy="websitesDetailsHeading"><span jhiTranslate="moLocalrKbApp.websites.detail.title">Websites</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ websites.id }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.website">Website</span></dt>
        <dd>
          <span>{{ websites.website }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.websiteId">Website Id</span></dt>
        <dd>
          <span>{{ websites.websiteId }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.cls">Cls</span></dt>
        <dd>
          <span>{{ websites.cls }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.pageViews">Page Views</span></dt>
        <dd>
          <span>{{ websites.pageViews }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.pageLoads">Page Loads</span></dt>
        <dd>
          <span>{{ websites.pageLoads }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.onLoadTime">On Load Time</span></dt>
        <dd>
          <span>{{ websites.onLoadTime }}</span>
        </dd>
        <dt><span jhiTranslate="moLocalrKbApp.websites.date">Date</span></dt>
        <dd>
          <span>{{ websites.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/websites', websites.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
